@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
.first-part{
    background-color: #1F2937;
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.navbar{
    display: flex;
    flex-direction: row;
}
.right-link{
    size: 18px;
    color: #E5E7EB;
    margin: 10px;
}
ul{
    display: flex;
    flex-direction: row;
}
.navbar-left,.navbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.header-content{
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: center;
    align-items: center;
}
.content-right,.content-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    margin: 50px;
}
.sign-up{
    background-color: #3882f6;
    color: #E5E7EB;
    width: 90px;
    height: 30px;
    border: 1px #3882f6;
    border-radius: 5px;
}
.content-left{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    height: 500px;
    padding: 20px; 
}
h2{
    size: 36px;
    color: #1F2937;
    font-weight: bolder;
    text-align: center;
}
.second-part{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.information{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}
.image{
    border: 5px solid #3882f6;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.quote{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
}
.quote-text{
    width: 500px;
    margin-bottom: 10px;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}
.quote-author{
    margin-left: 360px;
}
.third-part{
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}
.call{
    display: flex;
    align-items: center;
    width: 700px;
    height: 50px;
    padding: 30px;
    background-color: #3882f6;
    color: #E5E7EB;
    border-radius: 8px;
}
h3{
    margin-bottom: 5px;
}
.call-text{
    width: 500px;
    margin-right: 50px;
}
.sign-up2{
    background-color: #3882f6;
    border: 1px solid #E5E7EB;
    height: 30px;
    width: 80px;
    color: #F9FAF8;
    border-radius: 5px;
}
footer{
    background-color: #1F2937;
    color: #E5E7EB;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}